body {
    background-color:wheat;
}

fieldset {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    margin: auto;
    border: 2px solid black;
    background-color: bisque;
}

legend {
    border-radius: 10px;
    background-color: burlywood;
    text-align: center;
    border: 2px solid black;
}

input {
    border-radius: 10px;
    display: flex;
    margin: auto;
    text-align: center;
    background-color:burlywood;
}

button {
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    background-color: burlywood;
}